@model SimpleUser.MVC.Models.UserVM

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserDetailDto.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserDetailDto.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserDetailDto.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserDetailDto.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetailDto.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetailDto.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetailDto.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetailDto.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageIndex="@(Model.PageIndex - 1)"
   asp-route-searchString="@Model.SearchString"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageIndex="@(Model.PageIndex + 1)"
   asp-route-searchString="@Model.SearchString"
   class="btn btn-default @nextDisabled">
    Next
</a>