@using SimpleUser.MVC.Models;
@model CustomerViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers.Customers[0].Customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.Customers[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Customers.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Customers.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-PageIndex="@(Model.Index.PageIndex - 1)"
   asp-route-Filter="@Model.Index.Filter"
   asp-route-PageSize="@Model.Index.PageSize"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@for (int i = 1; i <= Model.Customers.TotalPages; i++)
{
    <a asp-action="Index" asp-route-PageIndex="@i" asp-route-Filter="@Model.Index.Filter" asp-route-PageSize="@Model.Index.PageSize">@i</a>
}
<a asp-action="Index"
   asp-route-PageIndex="@(Model.Index.PageIndex + 1)"
   asp-route-Filter="@Model.Index.Filter"
   asp-route-PageSize="@Model.Index.PageSize"
   class="btn btn-default @nextDisabled">
    Next
</a>