@using SimpleUser.MVC.ViewModels;
@model SimpleUser.MVC.ViewModels.IndexVM
@{
    ViewData["Title"] = "Users";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Users" asp-action="Index" method="post">
    <p>
        Name: <input type="text" name="Filter" value="@Model.Filter" />
        <br />
        Page size:
        <select name="PageSize" value="@Model.PageSize" />
        @for(int i = 4; i <= 10; i++)
        {
            if(i == Model.PageSize)
            {
                <option value="@i" selected>@i</option>
            }
            else
            {
                <option value="@i">@i</option>
            }
        }
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<div>
    @await Component.InvokeAsync("User", new IndexVM { Filter = Model.Filter, PageIndex = Model.PageIndex, PageSize = Model.PageSize })
</div>